.login-status-hidden{
  display: none;
}

#nav-login-status{
  color: #ABABAB;
  background-color: #fff;
  display: flex;
  position: relative;
}

#nav-login-status a{
  text-decoration: none;
}

.nav-login-status-signin,
.nav-login-status-dropdown{
  border: 1px solid #F6F6F6;
  padding: 0.5em;
  color: #ABABAB;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
}

.nav-login-status-dropdown{
  list-style: none;
}

.nav-login-status-dropdown:hover .nav-login-status-logout{
  display: block;
}

.nav-login-status-dropdown li{
  padding: 0.5em;
  text-align: right;
}

.nav-login-status-logout{
  border-top: 1px solid #F6F6F6;
  display: none;
}